{
    "vm-name": "Ubuntu-20.04-LTS",
    "vcenter-server": "",
    "vcenter-username": "",
    "vcenter-password": "",
    "datacenter": "",
    "datastore": "",
    "folder": "Template",
    "cluster": "",
    "network": "VM Network",
    "vm-cpu-num": "1",
    "vm-mem-size": "1024",
    "vm-disk-size": "10240",
    "iso-url": "http://releases.ubuntu.com/20.04/ubuntu-20.04.2-live-server-amd64.iso",
    "iso-checksum": "d1f2bf834bbe9bb43faf16f9be992a6f3935e65be0edece1dee2aa6eb1767423",
    "iso-checksum-type": "sha256"
}