yandex_token = ""
yandex_cloud_id = ""
yandex_folder_id = ""
yandex_zone = ""

vm_name = ""
vm_image_id = ""

vm_user = ""
vm_ssh_keyfile = ""
vm_ssh_keyfile_private = ""

vm_MasterNode_count = 3
vm_MasterNode_cores = 2
vm_MasterNode_memory = 4
vm_MasterNode_disk = 10

vm_WorkerNode_count = 2
vm_WorkerNode_cores = 2
vm_WorkerNode_memory = 4
vm_WorkerNode_disk = 20

vm_Ingress_count = 1
vm_Ingress_cores = 2
vm_Ingress_memory = 2
vm_Ingress_disk = 10
